// bower:scss
@import "tachyons.scss";
// endbower

// and then?
.bg-top {
   background-image: url(../images/chousmith-dbh-catshirts.jpg);
}
.bg-top h1 span, .bg-top p {
  // text-shadow: 0 0 3px rgba(0,0,0,0.8);
  background: rgba(0,0,0,0.5);
}
@media screen and (min-width: 60em) {
  .bg-top {
    background-attachment: fixed;
  }
}
